<div class="row" style="width: 100%">
    <div class="col-md-4" style="background-color: white; border: 1px solid lightgray; padding: 15px; pointer-events: all; box-shadow: 4px 4px 5px #aaa;">

    	<h3>Aide</h3>

    	<hr/>

    	<ol>
    		<li>Sélectionner un enquêteur sur la carte</li>
    		<li>puis cliquer sur les unités statistiques
    		pour les affecter ou les retirer à l'enquêteur sélectionné</li>
    		<li>recommencer avec un autre enquêteur</li>
    	</ol>

    	<ul class="list" style="overflow-y: hidden;">
    		<li style="">
    			<div class="us-marker us-marker-selected" style="vertical-align: middle; display: inline">
					<span class="glyphicon glyphicon-record"></span>
    			</div>
    			<div style="display: inline; vertical-align: middle">Unité affectée à l'enquêteur sélectionné</div>
    		</li>
    		<li>
    			<div class="us-marker us-marker-assigned-other" style="display: inline-block; vertical-align: middle">
    				<span class="glyphicon glyphicon-record"></span>
    			</div>
    			<div style="display: inline; vertical-align: middle">Unité affectée à un autre enquêteur</div>
    		</li>
    		<li>
    			<div class="us-marker us-marker-unassigned" style="display: inline-block; vertical-align: middle">
    				<span class="glyphicon glyphicon-record"></span>
    			</div>
    			<div style="display: inline; vertical-align: middle">Unité non affectée</div>
    		</li>
    	</ul>
    </div>
</div>