<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/map">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/ui-bootstrap/dist/ui-bootstrap-0.14.3-csp.css" />
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ihmApp" ng-controller="MapCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#/">Affectation</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="active"><a href="/map">Home</a></li>
            <li><a ng-href="/map/test">Test</a></li>
            <li><a ng-href="/map/about">About</a></li>
            <li><a ng-href="/map">Contact</a></li>
          </ul>
          <ul  class="nav navbar-nav navbar-right">
            <li><a ng-click="mapcontext.getMap().zoomIn()">Zoom In</a></li>
            <li><a ng-click="mapcontext.getMap().zoomOut()">Zoom Out</a></li>
            <li><a ng-click="mapcontext.fitAll()">Fit All</a></li>
            <li uib-dropdown>
                <a id="layer-contrl" uib-dropdown-toggle ng-disabled="disabled">
                  Couches <span class="caret"></span>
                </a>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="layer-control">
                  <li role="menuitem" ng-repeat="basemap in basemaps" >
                    <a ng-click="setBaseMap(basemap)">{{ basemap.label }}</a>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="container-fluid map-container" style="height: 100%">
      <div id="map" style="width: 100%; height: 100%"></div>
    </div>

    <div class="container-fluid" style="position: absolute; z-index: 900; top: 70px; left: 0; pointer-events: none; width: 98%; margin-left: 1%">
      <div class="row" style="width: 100%">
          <div class="col-md-4" style="background-color: white; border: 1px solid lightgray; padding: 15px; pointer-events: all; box-shadow: 4px 4px 5px #aaa;">
            <uib-tabset justified="true">
              <uib-tab heading="Enquêteurs">
                <ul ng-controller="EnqueteursCtrl" class="list">
                  <li id="enqueteur{{ enq.properties.gid }}"
                      ng-repeat="enq in enqueteurs"
                      ng-click="selectItem(enq)"
                      ng-class="{ 'selected': (selected == enq.properties.gid) }">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    {{ enq.properties.prenom }} {{ enq.properties.nom }}
                    <div class="pull-right" style="margin-top: -8px">
                      <span class="action glyphicon glyphicon-remove"></span>
                      <span class="action glyphicon glyphicon-menu-hamburger"></span>
                    </div>
                  </li>
                </ul>
              </uib-tab>
              <uib-tab heading="Unités statistiques">
                <ul ng-controller="UnitesCtrl" class="list">
                  <li ng-repeat="unite in unites.features">
                    <span class="glyphicon glyphicon-record"></span>
                    {{ unite.properties.gid }}
                  </li>
                </ul>
            </uib-tab>
          </uib-tabset>
        </div>
         <!--  <div class="col-md-7 col-md-offset-1" style="background-color: white; border: 1px solid lightgray; padding: 15px; pointer-events: all; box-shadow: 4px 4px 5px #aaa;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div> -->
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/ui-bootstrap/dist/ui-bootstrap-0.14.3.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="/bower_components/leaflet-bouncemarker/bouncemarker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/map.js"></script>
    <script src="scripts/controllers/enqueteurs.js"></script>
    <script src="scripts/controllers/unites.js"></script>
    <!-- endbuild -->

</body>
</html>
