<div class="row" style="width: 100%">
    <div class="col-md-4" style="background-color: white; border: 1px solid lightgray; padding: 15px; pointer-events: all; box-shadow: 4px 4px 5px #aaa;">
      <div ng-if="!selected">
        <span class="glyphicon glyphicon-ok-circle"></span>
        Sélectionner un enquêteur sur la carte
      </div>
      <div ng-if="selected">
        <h3>Enquêteur sélectionné</h3>
        <hr/>
        <b>{{ selected.properties.prenom }} {{ selected.properties.nom }}</b>
        <br/>
        <span class="badge">{{ unites.length }}</span> unités affectées
      </div>
    </div>
</div>